{% extends 'helpers/layout.html' %}
{% import 'helpers/form.html' as form %}
{% import 'helpers/key-details-bar.html' as keyDetailsBar %}
{% import 'helpers/global-navigation.html' as globalNavigation %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}{{ t("contact-details:fields." + type + "." + addOrChange + ".header") }} - Changes and enquiries{% endblock %}

{% block backLink %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: t("app:link.back"),
      href: "/changes-and-enquiries/contact"
    }) }}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if globalError %}

        {{ form.globalError(globalError) }}

    {% endif %}

    <form method="post" action="/changes-and-enquiries/contact/{{ type }}" autocomplete="off">
      {% call govukFieldset({
        legend: {
          text: t("contact-details:fields." + type + "." + addOrChange + ".header"),
          classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-7",
          isPageHeading: true
        }
      }) %}

        {{ govukInput({
          label: {
            text: t("contact-details:fields." + type + "." + addOrChange + ".label")
          },
          id: type,
          name: type,
          value: details[type],
          classes: "govuk-input--width-20",
          errorMessage: errors[type]
        }) }}

      {% endcall %}

      {% if addOrChange == 'change' %}
        <p class="govuk-body"><a href="/changes-and-enquiries/contact/remove/{{ type }}" id="typeEmailRemove" class="govuk-link">Remove {{ type }} address</a></p>
      {% endif %}
      {{ govukButton({
        text: t("app:button.save")
      }) }}
    </form>
  </div>
</div>
{% endblock %}
