{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}{{ t("contact-details:fields." + type + ".header") }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: "/changes-and-enquiries/contact",
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <form method="post" action="/changes-and-enquiries/contact/{{ type }}" autocomplete="off" novalidate>
    {{ govukInput({
      label: {
        text: t("contact-details:fields." + type + ".header"),
        classes: "govuk-label--l",
        isPageHeading: true
      },
      id: type,
      name: type,
      value: details[type],
      classes: "govuk-input--width-20",
      errorMessage: errors[type]
    }) }}

    {% if addOrChange == 'change' %}
      <p class="govuk-body"><a href="/changes-and-enquiries/contact/remove/{{ type }}" id="typeEmailRemove" class="govuk-link govuk-link--no-visited-state">Remove {{ type }} address</a></p>
    {% endif %}
    
    {{ govukButton({
      text: t("app:button.save")
    }) }}
  </form>
{% endblock %}
