{% extends 'helpers/layout.html' %}
{% import 'helpers/form.html' as form %}
{% import 'helpers/key-details-bar.html' as keyDetailsBar %}
{% import 'helpers/global-navigation.html' as globalNavigation %}

{% block pageTitle %}Contact details - Changes and enquiries{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-visually-hidden">Changes and enquiries - Contact</h1>
          {% if details %}
            <table id="contact-details-table" class="govuk-table">
              <caption class="govuk-table__caption govuk-heading-l">Contact details</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell gysp-table__cell--first gysp-text-align-top" scope="row">Address</td>
                  <td class="govuk-table__cell gysp-table__cell--first">
                  {% for addressLine in details.address %}
                    {{ addressLine }}{{ "<br />" | safe if loop.last == false }}
                  {% endfor %}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric gysp-table__cell--first">
                    <a href="/changes-and-enquiries/address" id="changeAddress" class="govuk-link">
                      Change<span class="govuk-visually-hidden"> address</span>
                    </a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"scope="row">Home phone number</td>
                  <td class="govuk-table__cell">{{ details.homeTelephoneNumber }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a href="/changes-and-enquiries/contact/home" id="changeHomePhoneNumber" class="govuk-link">
                      {{ "Change" if details.homeTelephoneNumber else "Add" }}<span class="govuk-visually-hidden"> home phone number</span>
                    </a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Work phone number</td>
                  <td class="govuk-table__cell">{{ details.workTelephoneNumber }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a href="/changes-and-enquiries/contact/work" id="changeWorkPhoneNumber" class="govuk-link">
                      {{ "Change" if details.workTelephoneNumber else "Add" }}<span class="govuk-visually-hidden"> work phone number</span>
                    </a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Mobile phone number</td>
                  <td class="govuk-table__cell">{{ details.mobileTelephoneNumber }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a href="/changes-and-enquiries/contact/mobile" id="changeMobilePhoneNumber" class="govuk-link">
                      {{ "Change" if details.mobileTelephoneNumber else "Add" }}<span class="govuk-visually-hidden"> mobile phone number</span>
                    </a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Email address</td>
                  <td class="govuk-table__cell gysp-table__cell--wrap">{{ details.email }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a href="/changes-and-enquiries/contact/email" id="changeEmail" class="govuk-link">
                      {{ "Change" if details.email else "Add" }}<span class="govuk-visually-hidden"> email</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          {% else %}
            <p class="govuk-body">Sorry, no contact details found.</p>
          {% endif %}
        </div>
</div>


{% endblock %}
