{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}Contact details - Changes and enquiries{% endblock %}

{% block innerContent %}

  <h1 class="govuk-heading-m">{{ t('contact-details-overview:header') }}</h1>

  {% if details %}

    {{ govukSummaryList({
      rows: details.conatctDetailsSummaryRows
    }) }}

  {% else %}
    <p class="govuk-body">Sorry, no contact details found.</p>
  {% endif %}

{% endblock %}
