{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t("remove-contact-details:header") }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: "/changes-and-enquiries/contact/" + type,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <form method="post" action="/changes-and-enquiries/contact/remove/{{ type }}" autocomplete="off" novalidate>
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "removeContactNumber",
      fieldset: {
        legend: {
          text: t("remove-contact-details:fields.removeContactNumber.legend"),
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        id: "removeContactNumber-yes",
        value: "yes",
        text: t("remove-contact-details:fields.removeContactNumber.options.yes")
      }, {
        id: "removeContactNumber-no",
        value: "no",
        text: t("remove-contact-details:fields.removeContactNumber.options.no")
      }],
      errorMessage: errors.removeContactNumber
    }) }}

    {{ govukButton({
      text: t("app:button.save")
    }) }}
  </form>
{% endblock %}
