.gysp-panel-inset {
    margin-top: 0;
    padding-bottom: 0;
}

.gysp-removed-success-message {
    display: inline-block;
    margin: 0 15px 15px 0;
    padding: .5263157895em .7894736842em .2631578947em;
    line-height: 1.25;
}

.sr-only {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.gysp-claims-drop-outs {
    &__button-form {
        display: inline;
        @include govuk-media-query($from: tablet) {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
        }
    }
}

.gysp-text-align-top {
    vertical-align: top;
}

.gysp-table__cell--wrap {
    word-break: break-word;
    overflow-wrap: break-word;
}

.gysp-toggle-content {
    margin: 0;
}

.gysp-table__cell--first,
.gysp-summary__key--first,
.gysp-summary__value--first,
.gysp-summary__action--first {
    border-top: 1px solid $govuk-border-colour;
}

.gysp-payment-table {
    .govuk-table__cell {
        width: 50%;
    }
}

.gysp-secondary-text-colour {
    color: $govuk-secondary-text-colour;
}

.gysp-status,
.gysp-payment {
    float: right;
    margin-top: 5px;
    font-size: 15px;

    &::before {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-bottom: -2px;
        padding: 0 2px 0 0;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        content: '';
        @include govuk-media-query($from: tablet) {
            width: 16px;
            height: 16px;
            padding: 0;
            background-size: 16px 16px;
            margin-bottom: -2px;
        }
    }

    &--active {
        &::before {
            background-image: url('/assets/images/icons/icon-verified.svg');
        }
    }

    &--inactive {
        &::before {
            background-image: url('/assets/images/icons/icon-not-verified.svg');
        }
    }
}

.payment-details-summary {
    .govuk-summary-list {
        &__value {
            @include govuk-media-query($from: tablet) {
                width: 40%;
            }

            &:last-child {
                @include govuk-media-query($from: tablet) {
                    width: 70%;
                }
            }
        }

        &__actions {
            @include govuk-media-query($from: tablet) {
                width: 30%;
            }
        }
    }
}

.gysp-partner-details-summary {
    .govuk-summary-list {
        &__key {
            @include govuk-media-query($from: tablet) {
                width: 36%;
            }
        }

        &__value {
            @include govuk-media-query($from: tablet) {
                width: 50%;
            }

            &:last-child {
                @include govuk-media-query($from: tablet) {
                    width: 62%;
                }
            }
        }

        &__actions {
            @include govuk-media-query($from: tablet) {
                width: 10%;
            }
        }
    }
}

.gysp-payment-details-summary {
    .govuk-summary-list__row {
        &:not(:first-child) {
            .govuk-summary-list__key {
                font-weight: 400;
            }
        }

        &:first-child {
            .govuk-summary-list__value {
                font-weight: 600;
            }
        }
    }

    .govuk-summary-list {
        &__key {
            @include govuk-media-query($from: tablet) {
                width: 50%;
            }
        }

        &__value {
            @include govuk-media-query($from: tablet) {
                width: 30%;
            }

            &:last-child {
                @include govuk-media-query($from: tablet) {
                    width: 50%;
                }
            }
        }

        &__actions {
            @include govuk-media-query($from: tablet) {
                width: 30%;
            }
        }
    }
}

.gysp-summary-pay-arrears {
    .govuk-summary-list {
        &__key {
            @include govuk-media-query($from: tablet) {
                width: 40%;
            }
        }

        &__value {
            @include govuk-media-query($from: tablet) {
                width: 30%;
            }

            &:last-child {
                @include govuk-media-query($from: tablet) {
                    width: 60%;
                }
            }
        }
    }
}

.gysp-entitlement-partner-summary,
.gysp-entitlement-other-summary {
    .govuk-summary-list {
        &__key {
            @include govuk-media-query($from: tablet) {
                width: 48%;
            }
        }

        &__value {
            @include govuk-media-query($from: tablet) {
                width: 52%;
            }
        }
    }
}

.gysp-payment-tab-table {
    @include govuk-media-query($from: tablet) {
        width: 44.99%;
    }
}

.gysp-manual-payment-amounts {
    @include govuk-media-query($from: tablet) {
        width: 47%;
    }
}

.gysp-record-manual-payment {
    @include govuk-media-query($from: tablet) {
        float: right;
    }
}

.gysp-col-1 {
    @include govuk-media-query($from: tablet) {
        width: 200px;
    }
}

.gysp-text-align {
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}

.gysp-header-link {
    &:hover {
        text-decoration: none;
    }
}
