{% extends 'helpers/layout.html' %}
{% import 'helpers/form.html' as form %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}Upload overseas claims{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if returnedStatus and returnedStatus.status == 'failed' %}
        {{ form.globalError('Unable to update ' + returnedStatus.inviteKey) }}
      {% endif %}
      <h1 class="govuk-heading-xl">Upload overseas claims</h1>

      {% if details %}
        {{ govukTable({
          attributes: {
            id: "claims-drop-outs"
          },
          head: [
            { text: "State Pension date" },
            { text: "Claim date" },
            { text: "Surname" },
            { text: "National Insurance number" }
          ],
          rows: [
            [
              { text: details.statePensionDate },
              { text: details.claimDate },
              { text: details.surname },
              { text: details.niNumber }
            ]
          ]
        }) }}

        <div class="claims-drop-outs__buttons-container">
          <form method="post" action="/claims/overseas/completed-claim/details" id="form-details" autocomplete="off" novalidate>
            <input type="hidden" name="inviteKey" value="{{ details.inviteKey }}" />
            {{ govukButton({
                text: 'Get claim form',
                classes: 'dwp-button--tertiary',
                attributes: {
                    id: 'get-claim-form-submit'
                }
            }) }}
          </form>
          <form method="post" action="/claims/overseas/completed-claim/details/update-status" id="form-claim-not-uploaded" autocomplete="off" novalidate>
            <input type="hidden" name="status" value="CREATED" />
            <input type="hidden" name="inviteKey" value="{{ details.inviteKey }}" />
            {{ govukButton({
                text: 'Claim not uploaded',
                classes: 'dwp-button--danger',
                attributes: {
                    id: 'return-to-queue-submit'
                }
            }) }}
          </form>
          <div class="fix-drop-out-container">
            {{ govukButton({
                text: 'Claim uploaded',
                href: '#',
                classes: 'toggle-content',
                attributes: {
                    id: 'claim-uploaded',
                    'data-target': 'fix-completed-claim-form'
                }
            }) }}
            <div id="fix-completed-claim-form" class="panel panel--border js-hidden">
              <p class="govuk-body">Have you uploaded this claim?</p>
              <form method="post" action="/claims/overseas/completed-claim/details/update-status" id="form-claim-uploaded" autocomplete="off" novalidate>
                <input type="hidden" name="status" value="COMPLETE" />
                <input type="hidden" name="inviteKey" value="{{ details.inviteKey }}" />
                {{ govukButton({
                    text: 'Yes',
                    attributes: {
                        id: 'completed-uploaded-submit'
                    }
                }) }}
              </form>
            </div>
          </div>
        </div>
      {% else %}
        <p class="govuk-body">Sorry, no claim found.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
