{% extends 'helpers/layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from 'helpers/global-navigation.html' import globalNavigation %}
{% from 'helpers/key-details.html' import keyDetailsSection %}
{% from 'helpers/secondary-navigation.html' import secondaryNavigation %}

{% block globalNavigation %}
    {{ globalNavigation(activeGlobalNavigationSection) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if globalError %}
                {{ error(globalError) }}
            {% endif %}
            {% if keyDetails %}
                {{ keyDetailsSection(keyDetails.fullName, keyDetails.nino, keyDetails.status) }}
            {% endif %}
            {{ secondaryNavigation(secondaryNavigationList) }}
            {% block sectionBackLink %}{% endblock %}
            {% block innerContent %} {% endblock %}
        </div>
    </div>
    {% block outerContent %} {% endblock %}
{% endblock %}