{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}{{ t('marital-details:header') }} - {{ t('app:title.changes-enquiries') }}{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: '/changes-and-enquiries/personal',
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ t('marital-details:header') }}</h1>
  <table id="marital-details" class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell gysp-col-1" scope="row">{{ t('marital-details:details.summary.keys.status') }}</th>
          <td class="govuk-table__cell">{{ maritalDetails.details.status }}</td>
          <td class="govuk-table__cell govuk-table__header--numeric">
            <a href="/changes-and-enquiries/marital-details/status" class="govuk-link govuk-link--no-visited-state">{{ t('app:link.change') }}<span class="govuk-visually-hidden"> {{ t('marital-details:details.summary.keys.status') | lower }}</span></a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell gysp-col-1" scope="row">{{ maritalDetails.details.dateLabel }}</th>
          <td class="govuk-table__cell">
            {{ maritalDetails.details.date }}
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-padding-left-6 gysp-secondary-text-colour gysp-status gysp-status--{{ 'active' if maritalDetails.details.maritalStatusVerified else 'inactive' }}">
              {{ t('app:verification-status.verified') if maritalDetails.details.maritalStatusVerified else t('app:verification-status.not-verified') }}
            </span>
          </td>
          <td class="govuk-table__cell govuk-table__header--numeric">
            <a href="/changes-and-enquiries/marital-details/date" class="govuk-link govuk-link--no-visited-state">{{ t('app:link.change') }}<span class="govuk-visually-hidden"> {{ maritalDetails.details.dateLabel | lower }}</span></a>
          </td>
        </tr>
      </tbody>
  </table>
  {{ govukSummaryList({
    rows: maritalDetails.detailsSummaryRows
  }) }}

  <h2 class="govuk-heading-m">{{ maritalDetails.partnerSummary.header }}</h2>
  {{ govukSummaryList({
    rows: maritalDetails.partnerSummary.rows
  }) }}

{% endblock %}
