{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}{{ t('marital-details:header') }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: '/changes-and-enquiries/personal',
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ t('marital-details:header') }}</h1>
  <table id="marital-details" class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell gysp-col-1" scope="row">{{ t('marital-details:details.summary.keys.status') }}</th>
          <td class="govuk-table__cell">{{ maritalDetails.details.status }}</td>
          <td class="govuk-table__cell govuk-table__header--numeric">
            {% if maritalDetails.details.enableChange %}
              <a href="/changes-and-enquiries/marital-details/status" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> {{ t('marital-details:details.summary.keys.status') | lower }}</span></a>
            {% endif %}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell gysp-col-1" scope="row">{{ maritalDetails.details.dateLabel }}</th>
          <td class="govuk-table__cell">{{ maritalDetails.details.date }}</td>
          <td class="govuk-table__cell govuk-!-width-one-third govuk-table__header--numeric">
            {% if maritalDetails.details.maritalStatusVerified %}
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold gysp-secondary-text-colour gysp-status gysp-status--active">Verified</span>
            {% else %}
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold gysp-secondary-text-colour gysp-status gysp-status--inactive">Not verified</span>
            {% endif %}
          </td>
        </tr>
      </tbody>
  </table>
  {{ govukSummaryList({
    rows: maritalDetails.detailsSummaryRows
  }) }}

  <h2 class="govuk-heading-m">{{ maritalDetails.partnerSummary.header }}</h2>
  {{ govukSummaryList({
    rows: maritalDetails.partnerSummary.rows
  }) }}

{% endblock %}
