{% extends 'pages/changes-enquiries/layout.html' %}

{% from "moj/components/currency-input/macro.njk" import mojCurrencyInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}{{ t('marital-update-and-send-letter:header') }}{{ super() }}{% endblock %}

{% block innerContent %}
  <form method="post" action="{{ formUrl }}" autocomplete="off" novalidate>
    <h1 class="govuk-heading-l">{{ t('marital-update-and-send-letter:header') }}</h1>

    {% for paragraph in details.paragraphs %}
      <p class="govuk-body">{{ paragraph | safe }}</p>
    {% endfor %}

    {{ govukButton({
      text: t("marital-update-and-send-letter:button")
    }) }}
  </form>
{% endblock %}
