{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t("address:header")}}{{ super() }}{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ t("address:header") }}</h1>

  <form method="post" action="/changes-and-enquiries/address" autocomplete="off" novalidate>
    {{ govukInput({
      label: {
        text: t("address:fields.postcode.label")
      },
      id: "postcode",
      name: "postcode",
      value: details.postcode,
      classes: "govuk-input--width-10",
      errorMessage: errors.postcode
    }) }}

    {{ govukButton({
      text: t("address:button.find")
    }) }}
  </form>

  <p class="govuk-body">
    <a href="/changes-and-enquiries/address/international-address" class="govuk-link govuk-link--no-visited-state">{{ t("address:link.international") }}</a>
  </p>
{% endblock %}
