{% extends 'pages/changes-enquiries/layout.html' %}
{% from "select/macro.njk" import govukSelect %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}{{ t("address:header")}} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: 'Back',
    href: '/changes-and-enquiries/address',
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ t("address:header") }}</h1>
  <h2 class="govuk-heading-s">Postcode <br>
  {{ postCodeDetails.postcode }} <a href="/changes-and-enquiries/address" class="govuk-link">Change</a></h2>

  <form method="post" action="/changes-and-enquiries/address/select" autocomplete="off">
    {{ govukSelect({
      label: {
        text: t("address:fields.address.label")
      },
      id: "address",
      name: "address",
      value: details.address,
      items: addressList,
      errorMessage: errors.address
    }) }}

    {{ govukButton({
      text: t("app:button.save")
    }) }}
  </form>
{% endblock %}
