{% extends '../helpers/layout.html' %}

{% block pageTitle %} -- {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Landing page</h1>
      <ul class="govuk-list">
        <li><a href="/customer/add" class="govuk-link govuk-link--no-visited-state">Add customer</a></li>
        <li><a href="/find-claim" class="govuk-link govuk-link--no-visited-state">Find a claim</a></li>
        <li><a href="/claims/drop-out" class="govuk-link govuk-link--no-visited-state">Drop out claim</a></li>
        <li><a href="/claims/overseas/completed-claim" class="govuk-link govuk-link--no-visited-state">Upload overseas claims</a></li>
        <li><a href="/claims/next-claim" class="govuk-link govuk-link--no-visited-state">Next pending claim</a></li>
        <li><a href="/claim-information" class="govuk-link govuk-link--no-visited-state">Claim information</a></li>
        <li><a href="/find-someone" class="govuk-link govuk-link--no-visited-state">Changes and enquiries</a></li>
        <li><a href="/review-award" class="govuk-link govuk-link--no-visited-state">Review an award</a></li>
        <li><a href="/tasks" class="govuk-link govuk-link--no-visited-state">Get a task</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
