{% extends './layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('task-complete:header') }}{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-xl">{{ t('task-complete:header') }}</h1>
  {{ t('task-complete:content.' + details.reason) | safe }}
  {{ govukButton({
    text: t('task-complete:button'),
    href: '/tasks/task/end',
    classes: 'govuk-!-margin-top-6',
    attributes: {
      id: 'task-end'
    }
  }) }}
{% endblock %}
