{% extends './layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('task-complete:header') }}{% endblock %}

{% block backLink %}
    {% if backHref %}
        <div class="govuk-width-container">
            {{ govukBackLink({
                text: t("app:link.back"),
                href: backHref,
                classes: "govuk-!-margin-top-8 govuk-!-margin-bottom-0"
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-xl">{{ t('task-complete:header') }}</h1>
  {{ t('task-complete:content.' + details.reason) | safe }}
  {{ govukButton({
    text: t('task-complete:button'),
    href: buttonHref if buttonHref else '/tasks/task/end',
    classes: 'govuk-!-margin-top-6',
    attributes: {
      id: 'task-end'
    }
  }) }}
{% endblock %}
