{% extends './layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('tasks:header') }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">{{ t('tasks:header') }}</h1>
    {% if tasks %}
        <p class="govuk-body govuk-!-margin-bottom-7">{{ t('tasks:p') }}</p>
        <form method="post" action="/tasks" id="form-view-tasks" autocomplete="off" novalidate>
            {{ govukButton({
                text: t('tasks:button'),
                attributes: {
                    id: 'view-tasks'
                }
            }) }}
        </form>
    {% else %}
        <p class="govuk-body">{{ t('tasks:no-tasks') }}</p>
    {% endif %}
{% endblock %}
