{% extends 'helpers/layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from 'helpers/global-navigation.html' import globalNavigation %}
{% from 'helpers/key-details.html' import keyDetailsSection %}
{% from 'helpers/secondary-navigation.html' import secondaryNavigation %}
{% from 'helpers/timeline.html' import timeline %}
{% from 'moj/components/banner/macro.njk' import mojBanner %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}

{% block pageTitle %}{% endblock %}

{% block backLink %}
    {% if backHref %}
        <div class="govuk-width-container">
            {{ govukBackLink({
                text: t("app:link.back"),
                href: '/tasks' + backHref,
                classes: "govuk-!-margin-top-8 govuk-!-margin-bottom-0"
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if globalError %}
                {{ error(globalError) }}
            {% endif %}
            {% if messages.error %}
                {{ error(messages.error) }}
            {% endif %}
            {% block innerContent %} {% endblock %}
        </div>
    </div>
{% endblock %}