{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}{{ details.header }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: "/changes-and-enquiries/award",
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}

  <h1 class="govuk-heading-m">{{ details.header }}</h1>

  {% if details.isNewAward %}

    {{ govukSummaryList({
      rows: details.amountSummaryRows
    }) }}

    {{ govukSummaryList({
      rows: details.detailsSummaryRows
    }) }}

  {% else %}
  
    {{ govukSummaryList({
      rows: details.detailsSummaryRows
    }) }}

    {{ govukSummaryList({
      rows: details.amountSummaryRows
    }) }}

  {% endif %}

{% endblock %}
