{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}{{ t('account:header') }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: "/changes-and-enquiries/payment",
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ t('account:header') }}</h1>

  <form method="post" action="/changes-and-enquiries/payment/account" autocomplete="off">
    {{ govukInput({
      id: "accountName",
      name: "accountName",
      type: "text",
      classes: "govuk-!-width-full",
      label: {
        text: t("account:fields.accountName.label"),
        attributes: {
          id: "accountName-label"
        }
      },
      value: details.accountName,
      errorMessage: errors.accountName
    }) }}

    {{ govukInput({
      id: "sortCode",
      name: "sortCode",
      type: "text",
      classes: "govuk-input--width-5",
      label: {
        text: t("account:fields.sortCode.label"),
        attributes: {
          id: "sortCode-label"
        }
      },
      value: details.sortCode,
      errorMessage: errors.sortCode
    }) }}

    {{ govukInput({
      id: "accountNumber",
      name: "accountNumber",
      type: "text",
      classes: "govuk-input--width-10",
      label: {
        text: t("account:fields.accountNumber.label"),
        attributes: {
          id: "accountNumber-label"
        }
      },
      value: details.accountNumber,
      errorMessage: errors.accountNumber
    }) }}

    {{ govukInput({
      id: "referenceNumber",
      name: "referenceNumber",
      type: "text",
      classes: "govuk-input--width-10",
      label: {
        text: t("account:fields.referenceNumber.label"),
        attributes: {
          id: "referenceNumber-label"
        }
      },
      value: details.referenceNumber,
      errorMessage: errors.referenceNumber
    }) }}

    {{ govukButton({
      text: t("app:button.save")
    }) }}
  </form>
{% endblock %}
