{% macro errors(errorTitle,errorList) %}
  <div class="error error-summary" id="error-summary" role="alert" tabindex="-1" aria-labelledby="error-summary-heading">
      <h2 class="error-message" id="error-summary-heading">{{ errorTitle }}</h2>
      <ul class="error-summary-list">
      {% for error in errorList %}
        <li><a href="#{{error.link}}-form">{{ error.text }}</a></li>
        {{text}}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro globalError(globalError) %}
  <div class="error govuk-error-summary error-global">
    <p class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ globalError }}</p>
  </div>
{% endmacro %}


{% macro globalSuccess(globalSuccess) %}
  <div class="success success-global success-summary">
    <p class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ globalSuccess }}</p>
  </div>
{% endmacro %}

{% macro inputSearch(name, id, label, value, error) %}
  <div class="search">
    <label class="govuk-label search__label" for="{{id}}-form">{{ label }}</label>
    <div class="search__wrapper">
      {% if error %}<span class="govuk-error-message" aria-hidden="true">{{error}}</span> {% endif %}
      <input type="text" value="{{ value }}" id="{{id}}-form" name="{{ name }}" class="govuk-input search__input search--element">
      <div class="search__submit-wrapper search--element">
        <button type="submit" class="search__submit icon-search">Search</button>
      </div>
    </div>
  </div>
{% endmacro %}
