{% macro globalNavigation(activeGlobalNavigationSection) %}
	{% if activeGlobalNavigationSection %}
	<nav class="navigation-global">
		<div class="govuk-width-container">
			<ul>
				<li><a href='/changes-and-enquiries/overview'{{ ' class=active aria-current=page' if activeGlobalNavigationSection | lower  === 'overview' }}>Overview</a></li>
				<li><a href='/changes-and-enquiries/contact'{{ ' class=active aria-current=page' if activeGlobalNavigationSection | lower  === 'contact' }}>Contact</a></li>
				<li><a href='/changes-and-enquiries/payment'{{ ' class=active aria-current=page' if activeGlobalNavigationSection | lower  === 'payment' }}>Payment</a></li>
			</ul>
		</div>
	</nav>
	{% endif %}
{% endmacro %}