{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro keyDetailsBar(name, nino, status, dateOfBirth) %}
	<section class="key-details-bar" role="contentinfo" aria-labelledby="key-details-label">
		<div class="govuk-width-container">
			<div class="key-details-bar__key-details">
				<dl class="key-details-bar__top-block">
					<dt class="govuk-visually-hidden" id="key-details-label">Citizen details</dt>
					<dd class="key-details-bar__name">{{ name }}</dd>
					<dd class="key-details-bar__nino">{{ nino }}</dd>
					{% if status %}
						<dd class="key-details-bar__status">{{ status }}</dd>
					{% endif %}
				</dl>

				<div class="key-details-bar__bottom-block">
					{% if dateOfBirth %}
						{{ dateOfBirth }}
					{% else %}
						<a href="/find-someone" class="govuk-link dwp-key-details-link">Find someone</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endmacro %}

{% macro keyDetailsSection(name, nino, status) %}
	<section class="key-details-section">
		<h2 class="govuk-heading-xl govuk-!-margin-bottom-1 key-details-section__name">{{ name }}</h2>
		<span class="govuk-caption-xl govuk-!-margin-bottom-6 key-details-section__nino">{{ nino }}</span>
		{% if status %}
			{{ govukTag({
				text: status.text,
				classes: 'govuk-!-margin-bottom-9 ' + ('govuk-tag--red' if status.class == 'deferred' else 'key-details-section__status--' + status.class)
			}) }}
		{% endif %}
	</section>
{% endmacro %}

{% macro keyDetailsSlimSection(name, nino, status, spDate) %}
	<section class="key-details-slim-section" role="contentinfo" aria-labelledby="key-details-label">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half">
				<h3 class="govuk-heading-m key-details-slim-section__name">{{ name }}</h3>
				<span class="govuk-caption-m key-details-slim-section__nino">{{ nino }}</span>
				<p class="govuk-body govuk-!-font-size-16 key-details-slim-section__state-pension-date">State Pension date: {{ spDate }}</p>
			</div>
			<div class="govuk-grid-column-one-half">
				{% if status %}
					{{ govukTag({
						text: status.text,
						classes: 'govuk-!-margin-bottom-3 key-details-slim-section__status ' + ('govuk-tag--red' if status.class == 'deferred' else 'key-details-section__status--' + status.class)
					}) }}
				{% endif %}
			</div>
		</div>
	</section>
{% endmacro %}