{%- from "tag/macro.njk" import govukTag -%}

{% macro keyDetailsBar(name, nino, status, dateOfBirth) %}
	<section class="key-details-bar" role="contentinfo" aria-labelledby="key-details-label">
		<div class="govuk-width-container">
			<div class="key-details-bar__key-details">
				<dl class="key-details-bar__top-block">
					<dt class="govuk-visually-hidden" id="key-details-label">Citizen details</dt>
					<dd class="key-details-bar__name">{{ name }}</dd>
					<dd class="key-details-bar__nino">{{ nino }}</dd>
					{% if status %}
						<dd class="key-details-bar__status">{{ status }}</dd>
					{% endif %}
				</dl>

				<div class="key-details-bar__bottom-block">
					{% if dateOfBirth %}
						{{ dateOfBirth }}
					{% else %}
						<a href="/find-someone" class="govuk-link dwp-key-details-link">Find someone</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endmacro %}

{% macro keyDetailsSection(name, nino, status) %}
	<section class="key-details-section" role="contentinfo" aria-labelledby="key-details-label">
		<h2 class="govuk-heading-xl govuk-!-margin-bottom-1 key-details-section__name">{{ name }}</h2>
		<span class="govuk-caption-xl govuk-!-margin-bottom-6 key-details-section__nino">{{ nino }}</span>
		{% if status %}
			{{ govukTag({
				text: status.text,
				classes: 'govuk-!-margin-bottom-9 key-details-section__status key-details-section__status--' + status.class
			}) }}
		{% endif %}
	</section>
{% endmacro %}