{% macro timeline(t, details) %}
	<h2 class="heading-medium">{{ t(details.header) }}</h2>
	{% if details.list %}
		<ol class="dwp-timeline">
			{% for item in details.list %}
				<li class="dwp-timeline__entry">
					<h3 class="dwp-timeline__title govuk-!-margin-0">{{ t(item.title) }}</h3>
					<p class="dwp-timeline__info govuk-body">
						<span class="dwp-timeline__date">{{ item.date }}</span>
					</p>
				</li>
			{% endfor %}
		</ol>
	{% else %}
		<ol class="dwp-timeline">
			<li class="dwp-timeline__entry">
				{% if details.unavailable %}
					<h3 class="dwp-timeline__title dwp-timeline__title--muted govuk-!-margin-0">{{ t(details.unavailable) }}</h3>
				{% else %}
					<h3 class="dwp-timeline__title govuk-!-margin-0">{{ t(details.empty) }}</h3>
				{% endif %}
			</li>
		</ol>
	{% endif %}
{% endmacro %}