<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.bankDetail.resultQ }}</strong><br />{{ details.accountDetail.bankDetail.result }}</p>

{% if details.accountDetail.bankDetail.messages %}
    <p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.bankDetail.messagesQ }}</strong><br />{{ details.accountDetail.bankDetail.messages }}</p>
{% endif %}

<h4 class="govuk-heading-s">{{ details.accountDetail.bankDetailQ }}</h4>

<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.bankDetail.accountHolderQ }}</strong><br />{{ details.accountDetail.bankDetail.accountHolder }}</p>

<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.bankDetail.sortCodeQ }}</strong><br />{{ details.accountDetail.bankDetail.sortCode }}</p>

<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.bankDetail.accountNumberQ }}</strong><br />{{ details.accountDetail.bankDetail.accountNumber }}</p>