<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.buildingSocietyDetail.resultQ }}</strong><br />{{ details.accountDetail.buildingSocietyDetail.result }}</p>

<h4 class="govuk-heading-s">{{ details.accountDetail.buildingSocietyDetailQ }}</h4>

<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.buildingSocietyDetail.accountHolderQ }}</strong><br />{{ details.accountDetail.buildingSocietyDetail.accountHolder }}</p>

<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.buildingSocietyDetail.sortCodeQ }}</strong><br />{{ details.accountDetail.buildingSocietyDetail.sortCode }}</p>

<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.buildingSocietyDetail.accountNumberQ }}</strong><br />{{ details.accountDetail.buildingSocietyDetail.accountNumber }}</p>

<p class="govuk-body"><strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ details.accountDetail.buildingSocietyDetail.referenceNumberQ }}</strong><br />{{ details.accountDetail.buildingSocietyDetail.referenceNumber }}</p>