{% extends 'pages/changes-enquiries/layout.html' %}
{% from 'govuk/components/table/macro.njk' import govukTable %}

{% block pageTitle %}{{ t('payment:header') }} - Changes and enquiries{% endblock %}

{% block innerContent %}
  <h1 class="govuk-visually-hidden">Changes and enquiries - {{ t('payment:header') }}</h1>
  {% if details %}
    <table id="bank-building-table" class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m">{{ t('payment:bank_building_table.caption') }}</caption>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell govuk-table__cell--numeric" colspan="3"><a href="/changes-and-enquiries/payment/account" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> bank or building society account details</span></a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell gysp-table__cell--first gysp-payment-tab-table" scope="row">{{ t('payment:bank_building_table.account_holder') }}</th>
          <td class="govuk-table__cell gysp-table__cell--first">{{ details.accountHolder }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell gysp-payment-tab-table" scope="row">{{ t('payment:bank_building_table.sort_code') }}</th>
          <td class="govuk-table__cell">{{ details.sortCode }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell gysp-payment-tab-table" scope="row">{{ t('payment:bank_building_table.account_number') }}</th>
          <td class="govuk-table__cell">{{ details.accountNumber }}</td>
        </tr>
        {% if details.referenceNumber %}
          <tr class="govuk-table__row">
            <th class="govuk-table__cell gysp-payment-tab-table" scope="row">{{ t('payment:bank_building_table.roll_number') }}</th>
            <td class="govuk-table__cell">{{ details.referenceNumber  }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">Sorry, no payment details found.</p>
  {% endif %}
  {% if paymentSummary %}
    <table id="payment-details-table" class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">{{ t('payment:payment_table.caption') }}</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          {% if paymentSummary.paymentOne %}
                  <th class="govuk-table__header gysp-payment-tab-table" scope="col">{{ t('payment:payment_table.sequence') }}</th>
                  <th class="govuk-table__header" scope="col">{{ t('payment:payment_table.date') }}</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">{{ t('payment:payment_table.amount') }}</th>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell gysp-payment-tab-table">{{ t('payment:payment_table.first_payment') }}</td>
                  <td class="govuk-table__cell">{{ paymentSummary.paymentOne.creditDate }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">{{ paymentSummary.paymentOne.amount }}</td>
                </tr>
                {% if paymentSummary.paymentTwo %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell gysp-payment-tab-table">{{ t('payment:payment_table.next_payment') }}</td>
                    <td class="govuk-table__cell">{{ paymentSummary.paymentTwo.creditDate }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ paymentSummary.paymentTwo.amount }}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>

            <table id="payment-frequency-table" class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header gysp-payment-tab-table" scope="row">{{ t('payment:payment_table.payment_frequency') }}</th>
                  <td class="govuk-table__cell">
                  {% if details.frequency == 1 %}
                    Weekly
                  {% else %}
                    Every {{ details.frequency }} {{ details.frequencyPeriod }}
                  {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a id="change-payment-frequency-link" href="/changes-and-enquiries/payment/frequency" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> payment frequency</span></a>
                  </td>
          {% elif paymentSummary.paymentTwo %}
                  <th class="govuk-table__header gysp-payment-tab-table" scope="row">{{ t('payment:payment_table.payment_frequency') }}</th>
                  <td class="govuk-table__cell">
                    {% if details.frequency == 1 %}
                      Weekly
                    {% else %}
                      Every {{ details.frequency }} {{ details.frequencyPeriod }}
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a id="change-payment-frequency-link" href="/changes-and-enquiries/payment/frequency" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> payment frequency</span></a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header gysp-payment-tab-table" scope="row">{{ t('payment:payment_table.next_payment_date') }}</th>
                  <td class="govuk-table__cell" colspan="2">{{ paymentSummary.paymentTwo.creditDate }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header gysp-payment-tab-table" scope="row">{{ t('payment:payment_table.next_payment_amount') }}</th>
                  <td class="govuk-table__cell" colspan="2">{{ paymentSummary.paymentTwo.amount }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  {% else %}
    <h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">{{ t('payment:payment_table.caption') }}</h2>
    <p class="govuk-body">No payments have been made.</p>
  {% endif %}
{% endblock %}

{% block outerContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if recentPaymentsTable %}
        <table class="govuk-table" id="recent-payments">
          <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">
            {{ t('payment:payment_history.caption') }}
            <a href="/changes-and-enquiries/payment/manual-payment/details" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-font-weight-regular gysp-record-manual-payment">
              {{ t('payment:payment_history.record_manual_payment')}}
            </a>
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for head in recentPaymentsTable.head %}
                <th scope="col" class="govuk-table__header {%- if loop.first %} gysp-recent-payments-table__first {%- endif %}" {% if loop.last %} colspan="2"{% endif %}>{{ head.text }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for row in recentPaymentsTable.rows %}
              <tr class="govuk-table__row">
                {% for cell in row %}
                  <td class="govuk-table__cell{% if loop.last %} govuk-table__cell--numeric{% endif %}">{{ cell.html | safe if loop.last else cell.text }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">
          {{ t('payment:payment_history.caption') }}
          <a href="/changes-and-enquiries/payment/manual-payment/details" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-font-weight-regular gysp-record-manual-payment">
            {{ t('payment:payment_history.record_manual_payment')}}
          </a>
        </h2>
        <p class="govuk-body">No payments have been made.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
