{% extends 'pages/changes-enquiries/layout.html' %}
{% from 'govuk/components/table/macro.njk' import govukTable %}

{% block pageTitle %}{{ t('payment:header') }} - Changes and enquiries{% endblock %}

{% block innerContent %}
  <h1 class="govuk-visually-hidden">Changes and enquiries - {{ t('payment:header') }}</h1>
  {% if details %}
    <table id="bank-building-table" class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m">{{ t('payment:bank_building_table.caption') }}</caption>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell govuk-table__cell--numeric" colspan="2"><a href="/changes-and-enquiries/payment/account" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> bank or building society account details</span></a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell gysp-table__cell--first" scope="row">{{ t('payment:bank_building_table.account_holder') }}</td>
          <td class="govuk-table__cell gysp-table__cell--first">{{ details.accountHolder }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">{{ t('payment:bank_building_table.account_number') }}</td>
          <td class="govuk-table__cell">{{ details.accountNumber }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">{{ t('payment:bank_building_table.sort_code') }}</td>
          <td class="govuk-table__cell">{{ details.sortCode }}</td>
        </tr>
        {% if details.referenceNumber %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">{{ t('payment:bank_building_table.roll_number') }}</td>
            <td class="govuk-table__cell">{{ details.referenceNumber  }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">Sorry, no payment details found.</p>
  {% endif %}
{% endblock %}

{% block outerContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if paymentSummary %}
        <table id="payment-details-table" class="govuk-table">
          <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">{{ t('payment:payment_table.caption') }}</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell gysp-table__cell--first gysp-text-align-top" scope="row">{{ t('payment:payment_table.payment_frequency') }}</td>
              <td class="govuk-table__cell gysp-table__cell--first">
                {% if details.frequency == 1 %}
                  Weekly
                {% else %}
                  Every {{ details.frequency }} {{ details.frequencyPeriod }}
                {% endif %}
              </td>
              <td class="govuk-table__cell gysp-table__cell--first govuk-table__cell--numeric">
                <a href="/changes-and-enquiries/payment/frequency" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> payment frequency</span></a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">{{ paymentSummary.paymentOne.label }}</td>
              <td class="govuk-table__cell">{{ paymentSummary.paymentOne.creditDate }}</td>
              <td class="govuk-table__cell">{{ paymentSummary.paymentOne.amount }}</td>
            </tr>
            {% if paymentSummary.paymentTwo %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">{{ paymentSummary.paymentTwo.label }}</td>
                <td class="govuk-table__cell">{{ paymentSummary.paymentTwo.creditDate }}</td>
                <td class="govuk-table__cell">{{ paymentSummary.paymentTwo.amount }}</td>
              </tr>
            {% endif %}
            </tbody>
        </table>
      {% else %}
        <h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">{{ t('payment:payment_table.caption') }}</h2>
        <p class="govuk-body">No payments have been made.</p>
      {% endif %}

      {% if recentPaymentsTable %}
        {{ govukTable({
          caption: recentPaymentsTable.caption,
          captionClasses: 'govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6',
          firstCellIsHeader: false,
          classes: 'gysp-recent-payments-table',
          attributes: {
            id: 'recent-payments'
          },
          head: recentPaymentsTable.head,
          rows: recentPaymentsTable.rows
        }) }}
      {% endif %}
      {% if paymentSummary %}
        <p class="govuk-body"><a href="/changes-and-enquiries/payment/schedule" class="govuk-link govuk-link--no-visited-state">See payment schedule</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
