{% extends 'pages/changes-enquiries/layout.html' %}
{% from 'button/macro.njk' import govukButton %}
{% from 'table/macro.njk' import govukTable %}
{% from 'back-link/macro.njk' import govukBackLink %}

{% block pageTitle %}Payment schedule - Changes and enquiries{% endblock %}

{% block backLink %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: '/changes-and-enquiries/payment'
    }) }}
  </div>
{% endblock %}

{% block innerContent %}

    <h1 class="govuk-heading-l">Payment schedule</h1>
    {% if details %}
      {{ govukTable({
        caption: details.bankDetails.caption,
        firstCellIsHeader: true,
        classes: 'gysp-payment-table',
        attributes: {
          id: 'bank-details'
        },
        rows: details.bankDetails.rows
      }) }}

      {% if details.firstPayment %}
        {{ govukTable({
          caption: details.firstPayment.caption,
          firstCellIsHeader: true,
          classes: 'gysp-payment-table',
          attributes: {
            id: 'first-payement-details'
          },
          rows: details.firstPayment.rows
        }) }}
      {% endif %}

      {{ govukTable({
          caption: details.regularPayment.caption,
          firstCellIsHeader: true,
          classes: 'gysp-payment-table',
          attributes: {
            id: 'regular-payement-details'
          },
          rows: details.regularPayment.rows
        }) }}
    {% else %}
      <h2>Sorry, no payment schedule found.</h2>
    {% endif %}

{% endblock %}
