{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t("death-can-verify-date:header") }} - {{ t('app:title.changes-enquiries') }}{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: backLink,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <form method="post" action="{{ formAction }}" autocomplete="off">

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "canVerify",
      fieldset: {
        legend: {
          text: t("death-can-verify-date:header"),
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        id: "can-verify-yes",
        value: "yes",
        text: t("app:options.yes"),
        checked: true if details.canVerify == 'yes' else false
      }, {
        id: "can-verify-no",
        value: "no",
        text: t("app:options.no"),
        checked: true if details.canVerify == 'no' else false
      }],
      errorMessage: errors.canVerify
    }) }}

    {{ govukButton({
      text: t("app:button.continue")
    }) }}
  </form>
{% endblock %}
