{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ pageData.header }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: pageData.back,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ pageData.header }}</h1>
  {{ govukSummaryList({
    rows: [{
      key: { text: t("death-check-details:summary.name.key") },
      value: { text: pageData.name },
      actions: {
        items: [{
          href: "/changes-and-enquiries/personal/death/name?edit=true",
          text: t("death-check-details:summary.name.action"),
          visuallyHiddenText: t("death-check-details:summary.name.key") | lower
        }]
      }
    }, {
      key: { text: t("death-check-details:summary.phone.key") },
      value: { text: pageData.phoneNumber },
      actions: {
        items: [{
          href: "/changes-and-enquiries/personal/death/phone-number?edit=true",
          text: t("death-check-details:summary.phone.action"),
          visuallyHiddenText: t("death-check-details:summary.phone.key") | lower
        }]
      }
    }, {
      key: { text: t("death-check-details:summary.address.key") },
      value: { html: pageData.address },
      actions: {
        items: [{
          href: "/changes-and-enquiries/personal/death/address?edit=true",
          text: t("death-check-details:summary.address.action"),
          visuallyHiddenText: t("death-check-details:summary.address.key") | lower
        }]
      }
    }]
  }) }}

  {% if pageData.status == 'ARREARS' %}
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-7">{{ t("death-check-details:p.arrears") }}</p>
  {% elif pageData.status == 'OVERPAYMENT' %}
    <p class="govuk-body govuk-!-margin-top-8">{{ t("death-check-details:p.overpayment") }}</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li>{{ t("death-check-details:list.overpayment.li1") }}</li>
      <li>{{ t("death-check-details:list.overpayment.li2") }}</li>
    </ul>
  {% elif pageData.status == 'CANNOT_CALCULATE' %}
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-7">{{ t("death-check-details:p.cannot-calculate") }}</p>
  {% elif pageData.status == 'DEATH_NOT_VERIFIED' %}
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-7">{{ t("death-check-details:p.death-not-verified") }}</p>
  {% elif pageData.status == 'NOTHING_OWED' %}
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-7">{{ t("death-check-details:p.nothing-owed") }}</p>
  {% endif %}

  {{ govukButton({
    text: pageData.buttonText,
    href: pageData.button
  }) }}
{% endblock %}
