{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t("verify-date-of-death:header", {'DATE': dateOfDeath}) }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: backLink,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <form method="post" action="/changes-and-enquiries/personal/death/verify" autocomplete="off" novalidate>

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "verify",
      fieldset: {
        legend: {
          text: t("verify-date-of-death:fields.verify.legend", {'DATE': dateOfDeath}),
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        id: "verify-yes",
        value: "yes",
        text: t("verify-date-of-death:fields.verify.options.yes"),
        checked: true if details.verify == 'yes' else false
      }, {
        id: "verify-no",
        value: "no",
        text: t("verify-date-of-death:fields.verify.options.no"),
        checked: true if details.verify == 'no' else false
      }],
      errorMessage: errors.verify
    }) }}

    {{ govukButton({
      text: t("verify-date-of-death:button")
    }) }}
  </form>
{% endblock %}
