{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ pageData.header }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: pageData.back,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ pageData.header }}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-margin-bottom-2 gysp-text-align--right"><a href="payee-details/name" class="govuk-link govuk-link--no-visited-state">{{ t("app:link.change") }}<span class="govuk-visually-hidden"> {{ t("death-check-payee-details:change") }}</span></a></p>
    </div>
  </div>
  {{ govukSummaryList({
    rows: [{
      key: { text: t("death-check-payee-details:summary.name"), classes: 'gysp-summary__key--first' },
      value: { text: pageData.name, classes: 'gysp-summary__value--first' }
    }, {
      key: { text: t("death-check-payee-details:summary.phone") },
      value: { text: pageData.phoneNumber }
    }, {
      key: { text: t("death-check-payee-details:summary.address") },
      value: { html: pageData.address }
    }]
  }) }}

  {{ govukButton({
    text: pageData.buttonText,
    href: pageData.button
  }) }}
{% endblock %}
