{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ pageData.header }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: pageData.back,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ pageData.header }}</h1>
  {% if pageData.enableChange%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body govuk-!-margin-bottom-2 gysp-text-align--right"><a href="payee-details/name" class="govuk-link govuk-link--no-visited-state">{{ t("app:link.change") }}<span class="govuk-visually-hidden"> {{ t("death-check-payee-details:change") }}</span></a></p>
      </div>
    </div>
  {% endif %}
  {{ govukSummaryList({
    rows: [{
      key: { text: t("death-check-payee-details:summary.name"), classes: 'gysp-summary__key--first' if pageData.enableChange },
      value: { text: pageData.name, classes: 'gysp-summary__value--first' if pageData.enableChange }
    }, {
      key: { text: t("death-check-payee-details:summary.phone") },
      value: { text: pageData.phoneNumber }
    }, {
      key: { text: t("death-check-payee-details:summary.address") },
      value: { html: pageData.address }
    }]
  }) }}

  {% if pageData.status == 'ARREARS' %}
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-7">{{ t("death-check-payee-details:p.arrears") }}</p>
  {% elif pageData.status == 'OVERPAYMENT' %}
    <p class="govuk-body govuk-!-margin-top-8">{{ t("death-check-details:p.overpayment") }}</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li>{{ t("death-check-payee-details:list.overpayment.li1") }}</li>
      <li>{{ t("death-check-payee-details:list.overpayment.li2") }}</li>
    </ul>
  {% elif pageData.status == 'NOTHING_OWED' %}
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-7">{{ t("death-check-payee-details:p.nothing-owed") }}</p>
  {% endif %}

  {{ govukButton({
    text: pageData.buttonText,
    href: pageData.button
  }) }}
{% endblock %}
