{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}{{ pageData.header }} - Changes and enquiries{% endblock %}

{% block sectionBackLink %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: pageData.back,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l">{{ pageData.header }}</h1>

  <h2 class="govuk-heading-m">{{ t("death-pay-arrears:paymentDetails.header") }}</h2>
  {{ govukSummaryList({
    classes: 'gysp-summary-pay-arrears',
    rows: [{
      key: { text: t("death-pay-arrears:paymentDetails.total") },
      value: { text: pageData.paymentDetails.amount }
    }, {
      key: { text: t("death-pay-arrears:paymentDetails.period") },
      value: { text: pageData.paymentDetails.startDate + ' to ' + pageData.paymentDetails.endDate }
    }]
  }) }}

  <h2 class="govuk-heading-m">{{ t("death-pay-arrears:accountDetails.header") }}</h2>
  {{ govukSummaryList({
    classes: 'gysp-summary-pay-arrears',
    rows: pageData.accountDetails.rows
  }) }}

  {{ govukButton({
    text: pageData.buttonText,
    href: pageData.buttonHref
  }) }}
{% endblock %}
