{% extends 'pages/changes-enquiries/layout.html' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t("deferral-confirm:header") }}{{ super() }}{% endblock %}

{% set middle = fromDate if fromDate else t("deferral-confirm:p1-middle") %}

{% block innerContent %}
  <h2 class="govuk-heading-l">{{ t("deferral-confirm:h2") }}</h2>


  <p class="govuk-body">{{ t("deferral-confirm:p1", { MIDDLE: middle }) | safe }}</p>
  <p class="govuk-body">{{ t("deferral-confirm:p2") }}</p>

  {{ govukButton({
    text: t("app:button.confirm"),
    href: button
  }) }}
{% endblock %}
