{% extends 'pages/changes-enquiries/layout.html' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t("deferral-default-date:header") }} - {{ t('app:title.changes-enquiries') }}{% endblock %}

{% block innerContent %}
  {{ govukBackLink({
    text: t("app:link.back"),
    href: backLink,
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
  }) }}

  <form method="post" action={{ formAction }} autocomplete="off" novalidate>
    {{ govukRadios({
      idPrefix: "default-date",
      name: "default-date",
      fieldset: {
        legend: {
          text: t('deferral-default-date:header'),
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-2"
        }
      },
      hint: {
        html: govukInsetText({
          text: t("deferral-default-date:insetText", { DATE: statePensionDate })
        })
      },
      items: [
        {
          value: "yes",
          text: t("app:options.yes"),
          checked: true if defaultDate == "yes" else false
        },
        {
          value: "no",
          text: t("app:options.no"),
          checked: true if defaultDate == "no" else false
        }
      ],
      classes: "govuk-radios--inline",
      errorMessage: errors['default-date']
    }) }}

    {{ govukButton({
      text: t("app:button.continue")
    }) }}
  </form>
{% endblock %}
