.dwp-form-group--error {
    .dwp-input {
        border: $govuk-border-width-form-element-error solid $govuk-error-colour;
    }
}

.error-global {
    background: $govuk-error-colour;
    color: govuk-colour('black');

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        color: govuk-colour('white');
    }
}
