.dwp-global-header {
    .header-proposition {
        .govuk-header__link--service-name {
                font-size: 26px;
                @include govuk-media-query($from: desktop) {
                    font-size: 30px;
                }
        }
    }

    .govuk-header {
        &__content {
            padding-left: 0;
        }
    }
}
