.dwp-global-header {
    border-bottom: 0;

    .header-proposition {
        .govuk-header__link--service-name {
                font-size: 26px;
                @include govuk-media-query($from: desktop) {
                    font-size: 30px;
                }
        }
    }

    .govuk-header {
        &__content {
            padding-left: 0;
        }
    }
}

.dwp-header__container {
    margin-bottom: 0;
    border-bottom: 0;
}

