.success-summary {
  margin-bottom: 30px;
  padding: 20px 15px 15px;
  border: 5px solid govuk-colour('green');

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

.success-global {
    background: govuk-colour('green');
    color: govuk-colour('white');
}


.success {
    margin-right: 15px;
}
