{% extends 'helpers/layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from 'helpers/key-details.html' import keyDetailsSlimSection %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/table/macro.njk' import govukTable %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}New payment amounts{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if keyDetails %}
            {{ keyDetailsSlimSection(keyDetails.fullName, keyDetails.nino, keyDetails.status, spDate) }}
        {% endif %}
    </div>
</div>

{{ govukBackLink({
  text: 'Back',
  href: '/review-award/new-award',
  classes: 'govuk-!-margin-bottom-8'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if messages.error %}
        {{ error(messages.error) }}
    {% endif %}

    <h1 class="govuk-heading-xl">New payment amounts</h1>
    {% if details %}
      {% if details.firstPayment %}
        <h3 class="govuk-heading-m">{{ details.firstPayment.title }}</h3>
        {{ govukSummaryList({
          classes: 'gysp-payment-details-summary',
          attributes: {
            id: 'first-payment-details'
          },
          rows: details.firstPayment.rows
        }) }}
      {% endif %}

      <h3 class="govuk-heading-m">{{ details.regularPayment.title }}</h3>
      {{ govukSummaryList({
        classes: 'gysp-payment-details-summary',
        attributes: {
          id: 'regular-payment-details'
        },
        rows: details.regularPayment.rows
      }) }}

      <form method="post" action="/review-award/schedule" id="form__create-letter" autocomplete="off">
        {{ govukButton({
          text: details.button,
          attributes: {
            id: 'create-letter'
          }
        }) }}
      </form>
    {% else %}
      <h2>Sorry, no payment breakdown found.</h2>
    {% endif %}
  </div>
</div>


{% endblock %}
