{% extends 'helpers/layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from 'helpers/key-details.html' import keyDetailsSlimSection %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{{ details.header }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if keyDetails %}
            {{ keyDetailsSlimSection(keyDetails.fullName, keyDetails.nino, keyDetails.status, spDate) }}
        {% endif %}
    </div>
</div>

{{ govukBackLink({
  text: t('app:link.back'),
  href: '/review-award/new-award',
  classes: 'govuk-!-margin-bottom-8'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if messages.error %}
        {{ error(messages.error) }}
    {% endif %}

    <h1 class="govuk-heading-xl">{{ details.header }}</h1>

    {% for paragraph in details.paragraphs %}
      <p class="govuk-body">{{ paragraph | safe }}</p>
    {% endfor %}

    <form method="post" action="/review-award/schedule" id="form__end-task" autoupdate="off" novalidate>
      {{ govukButton({
        text: t('app:button.continue'),
        attributes: {
          id: 'end-task'
        }
      }) }}
    </form>
  </div>
</div>


{% endblock %}
