{% extends 'helpers/layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from 'helpers/key-details.html' import keyDetailsSlimSection %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/table/macro.njk' import govukTable %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Put State Pension into payment{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if keyDetails %}
            {{ keyDetailsSlimSection(keyDetails.fullName, keyDetails.nino, keyDetails.status, entitlementDate) }}
        {% endif %}
    </div>
</div>

{{ govukBackLink({
  text: 'Back',
  href: '/review-award/new-award',
  classes: 'govuk-!-margin-bottom-8'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if messages.error %}
        {{ error(messages.error) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Put State Pension into payment</h1>
    {% if details %}
      {{ govukTable({
        caption: details.bankDetails.caption,
        firstCellIsHeader: true,
        classes: 'gysp-payment-table',
        attributes: {
          id: 'bank-details'
        },
        rows: details.bankDetails.rows
      }) }}

      {% if details.firstPayment %}
        {{ govukTable({
          caption: details.firstPayment.caption,
          firstCellIsHeader: true,
          classes: 'gysp-payment-table',
          attributes: {
            id: 'first-payement-details'
          },
          rows: details.firstPayment.rows
        }) }}
      {% endif %}

      {{ govukTable({
          caption: details.regularPayment.caption,
          firstCellIsHeader: true,
          classes: 'gysp-payment-table',
          attributes: {
            id: 'regular-payement-details'
          },
          rows: details.regularPayment.rows
        }) }}
      <form method="post" action="/review-award/schedule" id="form__create-letter" autocomplete="off">
        {{ govukButton({
          text: 'Save and send letter',
          attributes: {
            id: 'create-letter'
          }
        }) }}
      </form>
    {% else %}
      <h2>Sorry, no payment breakdown found.</h2>
    {% endif %}
  </div>
</div>


{% endblock %}
