{% extends 'helpers/layout.html' %}
{% from "button/macro.njk" import govukButton %}
{% from 'back-link/macro.njk' import govukBackLink %}

{% block pageTitle %}Review an award{% endblock %}

{% block backLink %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: '/',
      classes: 'govuk-!-margin-bottom-0'
    }) }}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Review an award</h1>

        {% if total > 0 %}
            <p class="govuk-body">Awards to be reviewed: {{ total }}</p>
            {{ govukButton({
                text: 'Review',
                href: '#',
                attributes: {
                    id: 'award-review'
                }
            }) }}
        {% else %}
            <p class="govuk-body">There are no awards available to review</p>
        {% endif %}
    </div>
</div>


{% endblock %}
