{% extends 'helpers/layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t("entitlement-date-of-birth:fields." + maritalStatus + ".dateOfBirth.legend") }}{% endblock %}

{% block backLink %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: t('app:link.back'),
      href: '/tasks/task/detail',
      classes: 'govuk-!-margin-top-8 govuk-!-margin-bottom-0'
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if messages.error %}
        {{ error(messages.error) }}
      {% endif %}

      <form method="post" action="/tasks/task/consider-entitlement/date-of-birth" autocomplete="off">
        {{ govukDateInput({
          id: "dateOfBirth",
          fieldset: {
            legend: {
              text: t("entitlement-date-of-birth:fields." + maritalStatus + ".dateOfBirth.legend"),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-8"
            }
          },
          items: [{
            label: t("app:date.day"),
            id: "date-of-birth-day",
            name: "dateDay",
            value: details.dateDay,
            classes: "govuk-input--width-2" + (" govuk-input--error" if errors.dateDay),
            attributes: { maxlength: '2' }
          }, {
            label: t("app:date.month"),
            id: "date-of-birth-month",
            name: "dateMonth",
            value: details.dateMonth,
            classes: "govuk-input--width-2" + (" govuk-input--error" if errors.dateMonth),
            attributes: { maxlength: '2' }
          }, {
            label: t("app:date.year"),
            id: "date-of-birth-year",
            name: "dateYear",
            value: details.dateYear,
            classes: "govuk-input--width-4" + (" govuk-input--error" if errors.dateYear),
            attributes: { maxlength: '4' }
          }],
          errorMessage: errors.date
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "verification",
          items: [{
            id: "verification-verified",
            value: "V",
            text: t("entitlement-date-of-birth:fields." + maritalStatus + ".verification.options.verified"),
            checked: true if details.verification == 'V' else false
          }, {
            id: "verification-not-verified",
            value: "NV",
            text: t("entitlement-date-of-birth:fields." + maritalStatus + ".verification.options.not-verified"),
            checked: true if details.verification == 'NV' else false
          }],
          errorMessage: errors.verification
        }) }}

        {{ govukButton({
          text: t("app:button.continue")
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
