{% extends 'helpers/layout.html' %}
{% from 'helpers/form.html' import globalError as error %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ details.header }}{% endblock %}

{% block backLink %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: t('app:link.back'),
      href: '/tasks/task',
      classes: 'govuk-!-margin-top-8 govuk-!-margin-bottom-0'
    }) }}
  </div>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if messages.error %}
          {{ error(messages.error) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{ details.header }}</h1>

        {% if details.hint %}
          <p class="govuk-hint govuk-!-margin-bottom-7">{{ details.hint }}</p>
        {% endif %}

        <h2 class="govuk-heading-m">{{ details.partnerSummary.header }}</h2>
        {{ govukSummaryList({
            rows: details.partnerSummary.rows,
            classes: details.partnerSummary.classes or 'gysp-partner-details-summary'
        }) }}

        <h2 class="govuk-heading-m">{{ details.claimantSummary.header }}</h2>
        {{ govukSummaryList({
            rows: details.claimantSummary.rows,
            classes: details.claimantSummary.classes or 'gysp-partner-details-summary'
        }) }}

        {{ govukButton({
            text: t('app:button.continue'),
            href: details.buttonHref,
            attributes: {
                id: 'task-continue'
            }
        }) }}
    </div>
</div>


{% endblock %}
