{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}Personal details - Changes and enquiries{% endblock %}

{% block topContent %}
    {% if details.warning %}
      {{ govukWarningText({
        html: details.warning.html,
        iconFallbackText: t('app:warning-text.icon-fallback-text'),
        classes: "gysp-warning-text"
      }) }}
    {% endif %}
{% endblock %}

{% block innerContent %}

  <h1 class="govuk-heading-m">Personal details</h1>
  {% if details %}

    <table id="personal-details-table" class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-l govuk-visually-hidden">Personal details</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Full name</th>
          <td class="govuk-table__cell">{{ details.fullName }}</td>
          <td class="govuk-table__cell govuk-table__header--numeric">
            <a href="/changes-and-enquiries/personal/name-change" class="govuk-link govuk-link--no-visited-state">Change</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">National Insurance number</th>
          <td class="govuk-table__cell">{{ details.nino }}</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Date of birth</th>
          <td class="govuk-table__cell">{{ details.dob }}</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">State Pension date</th>
          <td class="govuk-table__cell">{{ details.statePensionDate }}</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Marital status</th>
          <td class="govuk-table__cell">{{ details.maritalStatus }}</td>
          <td class="govuk-table__cell govuk-table__header--numeric">
            {% if details.showMaritalStatusDetails %}
              <a href="/changes-and-enquiries/marital-details" class="govuk-link govuk-link--no-visited-state">Details</a>
            {% else %}
              <a href="/changes-and-enquiries/marital-details/status" class="govuk-link govuk-link--no-visited-state">{{ t('app:link.change') }}<span class="govuk-visually-hidden"> marital status</span></a>
            {% endif %}
          </td>
        </tr>
        {% if details.dateOfDeath %}
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">Date of death</th>
            <td class="govuk-table__cell">{{ details.dateOfDeath }}</td>
            <td class="govuk-table__cell">
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold gysp-secondary-text-colour gysp-status gysp-status--{{ 'active' if details.dateOfDeathVerification == 'Verified' else 'inactive' }}">
                {{ details.dateOfDeathVerification }}
              </span>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    {% if details.enableStopStatePension %}
      <p class="govuk-body"><a href="/changes-and-enquiries/personal/stop-state-pension" class="govuk-link govuk-link--no-visited-state">Stop State Pension</a></p>
    {% endif %}
  {% else %}
    <p class="govuk-body">Sorry, no personal details found.</p>
  {% endif %}

{% endblock %}
