{% extends 'pages/changes-enquiries/layout.html' %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}Personal details - Changes and enquiries{% endblock %}

{% block topContent %}
  {% if details.dateOfDeathVerification == 'Verified' and details.deathCalculationPerformed == false %}
    {{ govukWarningText({
      html: 'Final payment has not been calculated<br /><a href="/changes-and-enquiries/personal/death/retry-calculation" class="govuk-link govuk-link--no-visited-state">Calculate final payment</a>',
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {% if details.deathAllActionsPerformed == false and details.deathArrearsAmount and details.deathCalculationPerformed == true  %}
    {{ govukWarningText({
      html: details.deathArrearsAmount + ' arrears payment due<br /><a href="/changes-and-enquiries/personal/death/payee-details" class="govuk-link govuk-link--no-visited-state">Enter payee details</a>',
      iconFallbackText: "Warning"
    }) }}
  {% endif %}
{% endblock %}

{% block innerContent %}

  <h1 class="govuk-heading-m">Personal details</h1>
  {% if details %}

    {% if details.dateOfDeathVerification == 'Not verified' %}
      {{ govukWarningText({
        html: 'Date of death awaiting verification<br /><a href="/changes-and-enquiries/personal/death/verify" class="govuk-link govuk-link--no-visited-state">Verify date of death</a>',
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    <table id="personal-details-table" class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-l govuk-visually-hidden">Personal details</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Full name</th>
          <td class="govuk-table__cell">{{ details.fullName }}</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">National Insurance number</th>
          <td class="govuk-table__cell">{{ details.nino }}</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Date of birth</th>
          <td class="govuk-table__cell">{{ details.dob }}</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">State Pension date</th>
          <td class="govuk-table__cell">{{ details.statePensionDate }}</td>
          <td class="govuk-table__cell">&nbsp;</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Marital status</th>
          <td class="govuk-table__cell">{{ details.maritalStatus }}</td>
          <td class="govuk-table__cell govuk-table__header--numeric">
            {% if details.showMaritalStatusDetails %}
              <a href="/changes-and-enquiries/marital-details" class="govuk-link govuk-link--no-visited-state">Details</a>
            {% else %}
              <a href="/changes-and-enquiries/marital-details/status" class="govuk-link govuk-link--no-visited-state">{{ t('app:link.change') }}<span class="govuk-visually-hidden"> marital status</span></a>
            {% endif %}
          </td>
        </tr>
        {% if details.dateOfDeath %}
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">Date of death</th>
            <td class="govuk-table__cell">{{ details.dateOfDeath }}</td>
            <td class="govuk-table__cell">
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold gysp-secondary-text-colour gysp-status gysp-status--{{ 'active' if details.dateOfDeathVerification == 'Verified' else 'inactive' }}">
                {{ details.dateOfDeathVerification }}
              </span>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    {% if not details.dateOfDeath %}
      <p class="govuk-body"><a href="/changes-and-enquiries/personal/death" class="govuk-link govuk-link--no-visited-state">Add a date of death</a></p>
    {% endif %}
  {% else %}
    <p class="govuk-body">Sorry, no personal details found.</p>
  {% endif %}

{% endblock %}
