{% extends 'helpers/layout.html' %}
{% import 'helpers/form.html' as form %}
{% import 'helpers/key-details.html' as keyDetailsBar %}
{% from 'button/macro.njk' import govukButton %}
{% from 'table/macro.njk' import govukTable %}
{% from 'back-link/macro.njk' import govukBackLink %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Put State Pension into payment{% endblock %}

{% block backLink %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: '/process-claim/detail'
    }) }}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if globalError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{
          text: globalError
        }]
      }) }}
    {% endif %}
    <h1 class="govuk-heading-xl">Put State Pension into payment</h1>
    {% if details %}
      {{ govukTable({
        caption: details.bankDetails.caption,
        firstCellIsHeader: true,
        classes: 'gysp-payment-table',
        attributes: {
          id: 'bank-details'
        },
        rows: details.bankDetails.rows
      }) }}

      {% if details.firstPayment %}
        {{ govukTable({
          caption: details.firstPayment.caption,
          firstCellIsHeader: true,
          classes: 'gysp-payment-table',
          attributes: {
            id: 'first-payement-details'
          },
          rows: details.firstPayment.rows
        }) }}
      {% endif %}

      {{ govukTable({
          caption: details.regularPayment.caption,
          firstCellIsHeader: true,
          classes: 'gysp-payment-table',
          attributes: {
            id: 'regular-payement-details'
          },
          rows: details.regularPayment.rows
        }) }}
      <form method="post" action="/process-claim/payment" id="form__create-letter" autocomplete="off">
        {{ govukButton({
          text: 'Create letter',
          attributes: {
            id: 'create-letter'
          }
        }) }}
      </form>
      <p class="govuk-body"><a href="/process-claim/claim-to-bau" class="govuk-link" id="send-all-to-bau">Send claim to BAU</a></p>
    {% else %}
      <h2>Sorry, no payment breakdown found.</h2>
    {% endif %}
  </div>
</div>


{% endblock %}
